<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Project_301220055_DechellyaAssyya/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule> 